<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754593577721-fi03k9s7flkmfit05sfa41pp6nn16i7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754593577721-fi03k9s7flkmfit05sfa41pp6nn16i7h</string>
	<key>API_KEY</key>
	<string>AIzaSyAiUsUMAENXc5AO2yxlaEf8mCj69px1dFo</string>
	<key>GCM_SENDER_ID</key>
	<string>754593577721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.QEDStudio.WorkCalculatorDebug</string>
	<key>PROJECT_ID</key>
	<string>workcalculatordebug</string>
	<key>STORAGE_BUCKET</key>
	<string>workcalculatordebug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754593577721:ios:b604c8b347aaf18b360028</string>
</dict>
</plist>